@import url(https://fonts.googleapis.com/css?family=Roboto:100,regular,italic,500,500italic,700);
$font-family: "Roboto", Arial, sans-serif;
$font-size: 14px;
$primary-bg-color: #f1f3f6;
$white: #ffffff;
$alt-white: #dbdbdb;
$list-hover: #fafafa;
$error-color: #ff6161;
$login-btn-color: #fb641b;
$tnc-color: #878787;
$secondary-bg-color: #2874f0;
$primary-color: #212121;
$secondary-color: #f0f0f0;
$plus-color: #ffe500;
$line-height: 1.4;
$footer-text-color: #848484;
$footer-link-color: #565656;
$footer-bg-color: #172337;
