@import url(https://fonts.googleapis.com/css?family=Roboto:100,regular,italic,500,500italic,700);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  box-shadow: 0 2px 2.5px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  position: Fixed;
  width: 100%;
  height: 56px;
  background-color: #2874f0;
  color: #ffffff;
  font-family: "Roboto", Arial, sans-serif;
}
header .empty {
  min-width: 124px;
  height: 100%;
}
header .nav {
  display: flex;
  flex-direction: row;
  max-width: 1248px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
}
header .nav .logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 137px;
  height: 100%;
}
header .nav .logo-container .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .nav .logo-container .logo img {
  width: 75px;
}
header .nav .logo-container .logo a {
  text-decoration: none;
  color: inherit;
  font-size: 11px;
  margin-top: -1px;
  font-style: italic;
}
header .nav .logo-container .logo a span {
  color: #ffe500;
}
header .nav .logo-container .logo a img {
  width: 10px;
}
header .nav .logo-container .logo a:hover {
  text-decoration: underline;
}
header .nav .search-bar-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-start;
  min-width: 304px;
  margin: 0 auto 0 12px;
  align-items: center;
  width: calc(100% - 540px);
}
header .nav .search-bar-container form {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 564px;
  background-color: #f1f3f6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
}
header .nav .search-bar-container form input {
  box-sizing: border-box;
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  border-radius: 2px;
  outline: none;
  background-color: inherit;
  width: 100%;
}
header .nav .search-bar-container form .search-btn {
  width: 44px;
  height: 36px;
  padding: 4px 12px 0 8px;
  background: none;
  border: none;
}
header .nav .search-bar-container form .search-btn svg {
  width: 20px;
  height: 20px;
}
header .nav .dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  right: 50%;
  transform: translateX(50%);
  display: none;
}
header .nav .dropdown .triangle {
  margin-top: 5px;
  width: 20px;
  height: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  transform: rotate(45deg);
  background-color: #ffffff;
}
header .nav .dropdown .list-container {
  width: 240px;
  z-index: 2;
  margin-top: -12px;
  font-size: 14px;
  color: #212121;
  font-weight: 500;
  background-color: #ffffff;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}
header .nav .dropdown .list-container .head {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
header .nav .dropdown .list-container .head a {
  text-decoration: none;
  color: #2874f0;
}
header .nav .dropdown .list-container .head a:hover {
  text-decoration: underline;
}
header .nav .dropdown .list-container ul {
  display: flex;
  flex-direction: column;
}
header .nav .dropdown .list-container ul li {
  display: flex;
  flex-direction: row;
  padding: 16px 20px;
  font-weight: 400;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #f1f3f6;
}
header .nav .dropdown .list-container ul li svg {
  width: 16px;
  height: 16px;
}
header .nav .dropdown .list-container ul li span {
  margin-left: 10px;
  line-height: 18px;
}
header .nav .dropdown .list-container ul li:hover {
  background-color: #fafafa;
}
header .nav .dropdown:hover {
  display: block;
}
header .nav .btn-login {
  margin: 0 20px;
  min-width: 112px;
  position: relative;
}
header .nav .btn-login button {
  height: 30px;
  padding: 5px 40px;
  font-weight: 700;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #dbdbdb;
  color: #2874f0;
}
header .nav .btn-login:hover .dropdown {
  display: block;
}
header .nav .more {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 150px;
  align-items: center;
  height: 100%;
  margin: 0 20px;
  cursor: pointer;
  font-weight: 500;
}
header .nav .more p {
  margin-right: 10px;
}
header .nav .more span svg {
  transition: transform 0.1s;
  transform: rotate(-90deg);
}
header .nav .more:hover .dropdown {
  display: block;
  top: 43px;
}
header .nav .more:hover span svg {
  transform: rotate(-270deg);
}
header .nav .cart {
  display: flex;
  flex-direction: row;
  max-width: 150px;
  align-items: center;
  height: 100%;
  margin: 0 20px;
  cursor: pointer;
  font-weight: 500;
}
header .nav .cart p {
  margin-left: 5px;
}

.login-form {
  font-family: "Roboto", Arial, sans-serif;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.login-form #form-container {
  min-width: 650px;
  max-width: 675px;
  width: 90%;
  min-height: 200px;
  max-height: 90vh;
  height: 528px;
  border-radius: 4px;
  margin: 0 auto;
  overflow: auto;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.login-form #form-container .left-sidebar {
  display: flex;
  flex-direction: column;
  background-color: #2874f0;
  color: #ffffff;
  width: 40%;
  padding: 40px 33px;
  max-width: 270px;
  font-size: 15px;
  justify-content: space-between;
}
.login-form #form-container .left-sidebar h1 {
  font-size: 28px;
  font-weight: 500;
}
.login-form #form-container .left-sidebar P {
  font-size: 18px;
  margin-top: 16px;
  line-height: 150%;
  color: #dbdbdb;
}
.login-form #form-container .left-sidebar img {
  width: 100%;
}
.login-form #form-container .right-sidebar {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #ffffff;
  padding: 56px 35px 16px;
  justify-content: space-between;
}
.login-form #form-container .right-sidebar .form-element {
  position: relative;
  margin: 0 0 34px 0;
}
.login-form #form-container .right-sidebar .form-element .error {
  font-size: 12px;
  color: #ff6161;
  font-weight: 500;
}
.login-form #form-container .right-sidebar .form-element input {
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  padding: 8px 10px 10px 0;
  height: 36px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  outline: none;
  caret-color: black;
}
.login-form #form-container .right-sidebar .floating-label {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  font-size: 16px;
  cursor: text;
  color: #8c8c8c;
  transition: font 0.1s linear, top 0.1s linear, transform 0.1s linear;
}
.login-form #form-container .right-sidebar .forgot {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  font-weight: 500;
  color: #2874f0;
  font-size: 15px;
}
.login-form #form-container .right-sidebar .forgot:hover {
  text-decoration: underline;
}
.login-form #form-container .right-sidebar input:focus ~ .floating-label,
.login-form #form-container .right-sidebar input:valid ~ .floating-label {
  font-size: 11px;
  top: 0;
}
.login-form #form-container .right-sidebar input:focus,
.login-form #form-container .right-sidebar input:valid {
  border-bottom: 1px solid #2874f0;
}
.login-form #form-container .right-sidebar .tnc {
  font-size: 12px;
  color: #878787;
}
.login-form #form-container .right-sidebar .tnc a {
  color: #2874f0;
  text-decoration: none;
}
.login-form #form-container .right-sidebar .btn {
  margin: 15px 0 0 0;
  width: 100%;
  height: 48px;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 20px;
  cursor: pointer;
  color: #2874f0;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.login-form #form-container .right-sidebar .btn:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}
.login-form #form-container .right-sidebar .login-btn {
  color: #ffffff;
  background-color: #fb641b;
}
.login-form #form-container .right-sidebar #or {
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
  color: #878787;
}
.login-form #form-container .right-sidebar #sign-up-link {
  text-decoration: none;
  text-align: center;
  color: #2874f0;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 15px;
}

.hidden {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*# sourceMappingURL=main.css.map */
