@use "../abstracts/variables" as vars;
body{
    background-color: #f0f0f0;
}
#carousel{
    overflow: hidden;
    max-width: 1664px;
    margin: 15px auto;
    figure{
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 20s slider infinite;
        img{
            width: 20%;
            float: left;
        }
    }
    .btn-car{
        position: absolute;
        top: 276px;
        width: 47px;
        height: 104px;
        z-index: 1;
        border: none;
        background-color: vars.$white;
        fill: black;
        box-shadow: 0 1px 5px 0 rgb(0 0 0 / 11%);
    }
    #lt-car{
        left: 127px;
        border-radius: 0 5px 5px 0;
    }    
    #gt-car{
        right: 127px;
        border-radius: 5px 0 0 5px;
        svg{
            transform: rotate(180deg);
        }
    }
}
@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}