@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as vars;

footer{
    font-family: vars.$font-family;
    font-size: 14px;
    margin-top: 24px;
    min-width: 978px;
    border-top: 1px solid #ddd;
    background-color: vars.$white;
    a{
        text-decoration: none;
        color: vars.$footer-link-color;
    }
    .footer-info{
        width: 100%;
        .top-stories{
            padding: 25px;
            color: vars.$footer-text-color;
            h4{
                margin-top: 14px;
                padding: 14px 0;
                font-weight: 500;
                a{
                    margin-left: 3px;
                }
            }
            .link-container{
                margin: 3px 0;
                line-height: 1.4;
                .link-title{
                    margin-right: 3px;
                    text-transform: uppercase;
                    color: vars.$footer-text-color;
                }
                .footer-link-content{
                    padding: 0 5px;
                    font-size: 12px;
                    border-right: 1px solid #333;
                }
            }
        }
        .flipkart-info{
            padding: 0 25px;
            color: vars.$footer-text-color;
            .text-content{
                margin: 30px 0 13px;
                line-height: 16px;
                font-size: 11px;
                h1,h2{
                    font-size: 16px;
                    margin-bottom: 10px;
                    font-weight: 700;
                }
                h2{
                    font-size: 14px;
                }
            }
        }
    }
    .footer-main{
        width: 100%;
        background-color: vars.$footer-bg-color;
        .f-top{
            margin-left: 65px;
            width: 90%!important;
            padding-top: 40px;
            @include mixins.row;
            flex: 1;
            .ft-section{
                flex: 2;
                height: fit-content;
                .ft-section-title{
                    color: #878787;
                    font-size: 12px;
                    font-weight: 400;
                    margin-bottom: 9px;
                }
                .ft-section-link{
                    line-height: 2;
                    font-weight: 500;
                    color: vars.$white;
                    display: block;
                    font-weight: 400;
                    font-size: 12px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                p{
                    font-size: 12px;
                    flex-wrap: wrap;
                    color: vars.$white;
                    line-height: 17px;
                    a{
                        color: vars.$secondary-bg-color;
                    }
                }
            }
            .address{
                padding: 0 25px;
            }
        }
        .f-bottom{
            border-top: 1px solid #454d5e;
            padding: 25px 0;
            margin-top: 40px;
            width: 100%;
            @include mixins.row;
            justify-content: space-evenly;
            .fb-link{
                height: 20px;
                @include mixins.row;
                align-items: center;
                svg{
                    height: 15px;
                }
                a{
                    margin-left: 5px;
                    color: vars.$white;
                }
                p{
                    color: vars.$white;
                }
            }
            svg:last-child{
                height: 20px;
            }
        }
    }
}