@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as vars;

.product-list {
  position: relative;
  z-index: 1;
  padding-top: 60px;
  font-family: vars.$font-family;
  @include mixins.row;
  justify-content: center;
  background-color: vars.$white;
  padding-bottom: 10px;
  border-bottom: 1px solid vars.$alt-white;
  .product-cat {
    @include mixins.row;
    justify-content: space-between;
    max-width: 1258px;
    width: 100%;
    .category {
      position: relative;
      padding: 8px 12px;
      text-align: center;
      cursor: pointer;
      img {
        height: 64px;
        width: 64px;
        margin-bottom: 4px;
      }
      h5 {
        font-size: 14px;
        font-weight: 500;
        align-items: center;
        @include mixins.row;
        span {
          padding-left: 5px;
          svg {
            transition: transform 0.1s;
            transform: rotate(-90deg);
            fill: inherit;
          }
        }
      }
      .dropdown {
        @include mixins.dropdown;
        .triangle {
          z-index: 8;
        }
        .list-container {
          @include mixins.row;
          width: max-content;
          ul {
            li {
              border-top: none;
            }
          }
          .cat {
            padding: 12px;
            min-width: 240px;
            box-shadow: 0 4px 16px 0 rgb(0 0 0 / 20%);
          }
          .sub-cat {
            padding: 12px;
            min-width: 240px;
            text-align: start;
          }
          .hover{
            &:hover{
                font-weight: 500;
                color: vars.$secondary-bg-color;
            }
          }
        }
        display: none;
      }
      &:hover {
        color: vars.$secondary-bg-color;
        fill: vars.$secondary-bg-color;
        span {
          svg {
            transform: rotate(-270deg);
          }
        }
        .dropdown {
          display: block;
        }
      }
    }
    &:nth-child(1) {
      padding-left: 22px;
    }
  }
}
